div(class="container")
   div(class="footer_inner row")
       div(class="col-md-6")
           a(class="logo_bottom", href="/")
               img(src='/images/logo.png', alt='login', style='width:260px;height:70px')
           div(class="newsletters row")
               span(class="col-md-12", style="font-size:1.625rem; margin-top:1rem") Ready to cook?
               span(class="col-md-12") Sign up for our weekly newsletters!
           div(class="newsletter_form mt-3")
               form(class="form-inline my-2 my-lg-0", action="", method="post")
                   input(type="email", name="email", placeholder="Enter your email", class="form-control mr-sm-2", style="width:300px")
                   button(type='submit', class="btn btn-outline-success my-2 my-sm-0") Sign up
           nav(class="navbar-nav navbar-expand-lg mt-3")
               span(class="social_title", style="padding:1rem 0rem") LET’S BE FRIENDS!
               ul(class="social_list navbar-nav mr-auto")
                   li(style="font-size:25px", class="nav-item mr-md-2 active")
                       a(href="index.html", class="nav-link")
                           i(class="fa fa-instagram")
                   li(style="font-size:25px", class="nav-item mr-md-2")
                       a(href="about.html", class="nav-link")
                           i(class="fa fa-pinterest")
                   li(style="font-size:25px", class="nav-item mr-md-2")
                       a(href="services.html", class="nav-link")
                           i(class="fa fa-facebook")
                   li(style="font-size:25px", class="nav-item mr-md-2")
                       a(href="services.html", class="nav-link")
                           i(class="fa fa-twitter")
                   li(style="font-size:25px", class="nav-item mr-md-2")
                       a(href="services.html", class="nav-link")
                           i(class="fa fa-youtube")
       div(class="col-md-6 row")
           div(class="col-md-4")
               nav(class="navbar-nav navbar-expand-lg")
                   ul(class="social_list nav flex-column")
                       li(class="nav-item mr-md-2 active")
                           a(href="index.html", class="nav-link") RECIPES
                       li(class="nav-item mr-md-2")
                           a(href="about.html", class="nav-link") QUICK & EASY
                       li(class="nav-item mr-md-2")
                           a(href="services.html", class="nav-link") IN THE KITCHEN
                       li(class="nav-item mr-md-2")
                           a(href="services.html", class="nav-link") BUYING GUIDES
                       li(class="nav-item mr-md-2")
                           a(href="services.html", class="nav-link") HOLIDAYS & SEASONS
           div(class="col-md-4")
                nav(class="navbar-nav navbar-expand-lg")
                    ul(class="social_list nav flex-column")
                        li(class="nav-item mr-md-2 active")
                            a(href="index.html", class="nav-link", style="color:grey!important;font-size:15px") About Us
                        li(class="nav-item mr-md-2")
                            a(href="about.html", class="nav-link", style="color:grey!important;font-size:13px") Terms of Use
                        li(class="nav-item mr-md-2")
                            a(href="services.html", class="nav-link", style="color:grey!important;font-size:13px") Editorial Guidelines
                        li(class="nav-item mr-md-2")
                            a(href="services.html", class="nav-link", style="color:grey!important;font-size:13px") Cookies
                        li(class="nav-item mr-md-2")
                            a(href="services.html", class="nav-link", style="color:grey!important;font-size:13px") Contact
                        li(class="nav-item mr-md-2")
                            a(href="services.html", class="nav-link", style="color:grey!important;font-size:13px") California Privacy Notice
           div(class="col-md-4")
               nav(class="navbar-nav navbar-expand-lg")
                   ul(class="social_list nav flex-column")
                       li(class="nav-item mr-md-2 active")
                           a(href="index.html", class="nav-link", style="color:grey!important;font-size:13px") Advertise
                       li(class="nav-item mr-md-2")
                           a(href="about.html", class="nav-link", style="color:grey!important;font-size:13px") Careers
                       li(class="nav-item mr-md-2")
                           a(href="services.html", class="nav-link", style="color:grey!important;font-size:13px") Privacy Policy
