div(class="row")
    div(class="col-md-2" id="logo")
        a(class="logo_bottom", href="/")
            img(src='/images/logo.png', alt='login', style='width:260px;height:70px')
    nav#nav(class="col-md-10 navbar navbar-expand-lg navbar-light bg-light")
        div(class="collapse navbar-collapse")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item active")
                    a(href="index.html", class="nav-link") Home
                li(class="nav-item")
                    a(href="about.html", class="nav-link") About
                li(class="nav-item")
                    a(href="services.html", class="nav-link") Services
                li(class="nav-item")
                    a(href="contact.html", class="nav-link") Contact
        form(action="", method='POST', class="form-inline my-2 my-lg-0")
            input(type="text", name="search", class="form-control mr-sm-2")
            button(type='submit', class="btn btn-outline-success my-2 my-sm-0") Search

